$white-color: #ffffff;
$dot-color: #dcdcdc;
$background-color: #fbfbfb;

$button-color: #2CD997;

$text-light-color: #57eeb4;
$text-dark-color: #414141;
$text-white-color: #bfbfbf;
$text-gray-color: rgb(175,175,175);

$done-color: #2CD997;
$in-progress-color: #F4BA40;
$todo-color: #1d8ccc;

html, body, #root, .App {
    height: 100%;
    color: $text-dark-color;

    background-image: radial-gradient($dot-color 7%, transparent 10%);
    background-color: $background-color;
    
    background-size: 20px 20px;
    
    height: 100%;
    width: 100%;      
    background-attachment: fixed;
}

p, h1, h2, h3, div {
    font-family: Arial, Helvetica, sans-serif;
}

.dotBackground{
   /* background-image: radial-gradient($dot-color 7%, transparent 10%);
    background-color: $background-color;
    
    background-size: 20px 20px;
    
    height: 100%;
    width: 100%;      
    background-attachment: fixed;*/
}

.formContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: $white-color;
        padding: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.108));

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $text-gray-color;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
                &:focus{
                    outline: none !important;
                    border:1px solid $button-color;
                    border-radius: 10px;
                }
            }

            button{
                background-color: $button-color;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                border-radius: 10px;
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $text-light-color;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }
        }

        p{
            color: $text-dark-color;
            font-size: 12px;
            margin-top: 10px;
        }

        .logo{
            color: $text-dark-color;
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: $text-dark-color;
            font-size: 12px;
        }
    }
}

.projectContainer{
    background-color: $white-color;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.108));
    width: 380px;

    .title{
        color: $text-dark-color;
    }
    .date{
        color: $text-white-color;
        font-size: small;
        align-self: flex-end;
        margin-top: -30px;
    }
    .description{
        color: $text-dark-color;
        font-size: medium;
    }
}

.progressPill{
    display: flex;
    //align-items: center;
    //margin: 0;

    .progressPillContainer{
        border-radius: 100px;
        display: flex;
    
        align-items: center;
        justify-content: center;
    
        height: 30px;
        width: 100px;
    
        p{
            font-size: smaller;
            font-weight: bold;
            color: $white-color;
        }
    }
    
    .circle{
        border-radius: 100px;
        height: 30px;
        width: 30px;
        margin: 0;
    }

    ul{
        margin: 0;
        list-style: none;
    }

    li{
        float: left;
        margin: 0;
    }

    .menu-item{
        border: none;
        border-radius: 100px;
        color: $white-color;
        height: 30px;
        font-weight: bold;
        margin: 0;
    }

    div{
        margin: 0;
    }
}

li{
    margin: 5px;
}

.update{
    font-size: large;
}

.ProjectListContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

    .ProjectList{
        list-style: none;
        .projectItem{
            float: left;
            margin: 20px;
        }
    }
}

